body{
    background-color: rgb(66, 61, 139);
    color: floralwhite;
    font-size: 30px;
    font-weight: normal;
}

h1{
    font-weight: normal;
}

p{
    color: bisque;
}

div.details {
    color: rgb(255, 203, 91);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: lighter;
}

div.title {
    color: rgb(255, 205, 222);
    font-size: 30px; 
    margin-top: 60px;
    margin-left: 30px;
    margin-bottom: 10px;
    text-align: center;

}

div.text1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 30px;
}

div.subheading1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    margin-top: 60px;
    margin-right: 30px;
    text-align: right;
}

div.text2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin-top: 10px;
    margin-right: 30px;
    text-align: right;
}

div.text3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 30px;
    text-align: right;
}

div.text4{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 30px;
    text-align: right;
}

div.subheading2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    margin-top: 60px;
    margin-left: 30px;
    text-align: left;
}
div.text5{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 30px;
    text-align: left;
}
div.text6{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 30px;
    text-align: left;
}

div.subheading3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    margin-top: 60px;
    margin-right: 30px;
    text-align: right;
}
div.text7{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 30px;
    text-align: right;
}
div.text8{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 30px;
    text-align: right;
}