body{
    margin: 0px;
}

img {
    width: 100%;
}

a {
    color: rgb(245, 245, 245);
    text-decoration: none;
}

a:hover{
    z-index: 30;
    width: 60%;
    transition:0.2s;
}

a:hover{
    color:  rgb(54, 84, 184)
}

div{
    box-sizing: border-box;
}

div.row{
    display: flex;
    flex-wrap: wrap;;

}

div.marquee {
    width: 100%;
    background-color: white;
    position: fixed;
    top:0;
    left:0;
    z-index: 40;
    box-shadow:10px 10px 10px grey;
    font-size: 35px;
    animation:infinite ;
}

div.left{
    font-size:64px;
    background-color: rgb(31, 31, 31);
    height: 100vh;
    overflow: scroll;
    padding: 20px;
    padding-top: 130px;
    box-shadow:10px 10px 10px grey;

    position:fixed;
    left: 0;
    right: 0;
    z-index: 5;
    transition: 0.2s;
}

div.left:hover{
    z-index: 30;
    width: 60%;
    transition:0.2s;
}

div.right{
    font-size: 100px;
    background-color: white;
    height: 100vh;
    overflow: scroll;
    padding: 20px;
    padding-top: 100px;
    box-shadow: -20px -20px 20px rgb(214, 214, 214);

    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}

div.homesubheader{
    font-size: 20px;
}

div.box1{
    height: 2px;
    width: 100%;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

div.content{
    display: flex;
    flex-wrap: wrap;
}

div.content{
    font-size: 30px;
    color: rgb(24, 24, 111);
}

div.hometext1{
    margin-top: 100px;
    margin-bottom: 30px;
}

div.hometext2{
    margin-top: 110px;
    margin-bottom: 30px;
    margin-right: 500px;
}


div.hometext3{
    margin-top: 200px;
    margin-bottom: 150px;
    margin-right: 500px;
}



div.img{
    width: auto;
    display: block;

    position: sticky;
    top: 0px;
    right: 1px;
    box-shadow:5px 5px 10px 3px gray;
}


div.img2{
    width: 250px;
    position:sticky;
    bottom: 0px;
    left: 5px;
}


div.img3{
    width: 60%;
    height: auto;
    margin-left: 0px;
}

div.box3{
    height:200px; 
    background-color: aquamarine;
    margin-top: 10px;
}

div.width100{
    width: 100%;
}

div.width100{
    width: 100%;
}

div.width80{
    width: 80%;
}

div.width75{
    width: 75%;
}

div.width70{
    width: 70%;
}

div.width66{
    width: 66.666%;
}

div.width60{
    width: 60%;
}

div.width50{
    width: 50%;
}

div.width33{
    width: 33.333%;
}

div.width50{
    width: 50%;
}

div.width40{
    width: 40%;
}

div.width35{
    width: 35%;
}

div.width30{
    width: 30%;
}

div.width25{
    width: 25%;
}

div.width20{
    width: 20%;
}
