body{
    margin: 0px;
}

img {
    width: 100%;
}

a {
    color: rgb(36, 36, 36);
    text-decoration: none;
}

a:hover{
    z-index: 30;
    width: 60%;
    transition:0.2s;
}

a:hover{
    color:  rgb(16, 60, 206)
}

div{
    box-sizing: border-box;
}

div.row{
    display: flex;
    flex-wrap: wrap;;

}

div.marquee {
    width: 100%;
    background-color:  rgb(31, 31, 31);
    color: white;
    position: fixed;
    top:0;
    left:0;
    z-index: 40;
    box-shadow:10px 10px 10px grey;
    font-size: 35px;
    animation:infinite ;
}

div.left{
    font-size:64px;
    background-color: rgb(255, 244, 237);
    height: 100vh;
    overflow: scroll;
    padding: 20px;
    padding-top: 130px;
    box-shadow:10px 10px 10px grey;

    position:fixed;
    left: 0;
    right: 0;
    z-index: 5;
    transition: 0.2s;
}

div.left:hover{
    z-index: 30;
    width: 60%;
    transition:0.2s;
}

div.right{
    font-size: 100px;
    background-color: rgb(255, 244, 237);
    height: 100vh;
    overflow: scroll;
    padding: 20px;
    padding-top: 100px;
    box-shadow: -10px -10px 10px grey;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}

div.homesubheader{
    font-size: 20px;
}

div.box1{
    height: 2px;
    width: 100%;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

div.content{
    display: flex;
    flex-wrap: wrap;
}

div.content{
    font-size: 30px;
    color: rgb(160, 32, 32);
}

div.hometext1{
    margin-top: 30px;
    font-size: 16px;
}

div.hometext2{
    margin-bottom: 30px;
}

div.hometext3{
    font-size: 28px;
    margin-top: 110px;
    margin-bottom: 100px;
    text-align: right;
}


div.hometext4{
    font-size: 24px;
    margin-top: 200px;
    margin-bottom: 150px;
    margin-left: 50px;
    margin-right: 50px;
}

div.hometext5{
    font-size: 24px;
    margin-top: 200px;
    margin-bottom: 150px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

div.img{
    width: auto;
    height: 350px;
    box-shadow:5px 5px 10px 3px gray;
    margin-left: 30%;
    margin-bottom: 30px;
}

div.box3{
    width:30%
}

div.img2{
    width: 250px;
    margin-left: 50px;
    margin-right: 50px;
}

div.box2{
    width: 80%;
}


div.img3{
    width: 60%;
    height: auto;
    margin-left: 25%;
}

div.width100{
    width: 100%;
}

div.width90{
    width: 90%;
}

div.width80{
    width: 80%;
}

div.width75{
    width: 75%;
}

div.width70{
    width: 70%;
}

div.width66{
    width: 66.666%;
}

div.width60{
    width: 60%;
}

div.width50{
    width: 50%;
}

div.width33{
    width: 33.333%;
}

div.width50{
    width: 50%;
}

div.width40{
    width: 40%;
}

div.width35{
    width: 35%;
}

div.width30{
    width: 30%;
}

div.width25{
    width: 25%;
}

div.width20{
    width: 20%;
}
