body{
    margin: 0px;
}

img {
    width: 100%;
}

a {
    color: rgb(36, 36, 36);
    text-decoration: none;
}

a:hover{
    z-index: 30;
    width: 60%;
    transition:0.2s;
}

a:hover{
    color:  rgb(54, 84, 184)
}

div{
    box-sizing: border-box;
}

div.row{
    display: flex;
    flex-wrap: wrap;;

}

div.marquee {
    width: 100%;
    background-color:  rgb(31, 31, 31);
    color: white;
    position: fixed;
    top:0;
    left:0;
    z-index: 40;
    box-shadow:10px 10px 10px grey;
    font-size: 35px;
    animation:infinite ;
}

div.left{
    font-size:60px;
    background-color: rgb(236, 236, 236);
    height: 100vh;
    overflow: scroll;
    padding: 20px;
    padding-top: 130px;
    box-shadow:10px 10px 10px grey;

    position:fixed;
    left: 0;
    right: 0;
    z-index: 5;
    transition: 0.2s;
}

div.left:hover{
    z-index: 30;
    width: 60%;
    transition:0.2s;
}

div.right{
    font-size: 100px;
    color: white;
    background-color: rgb(21, 38, 56);
    height: 100vh;
    overflow: scroll;
    padding: 20px;
    padding-top: 100px;
    box-shadow: -20px -20px 20px rgb(214, 214, 214);

    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}

div.homesubheader{
    font-size: 20px;
}

div.box1{
    height: 2px;
    width: 100%;
    background-color: rgb(196, 185, 87);
    margin-top: 20px;
    margin-bottom: 20px;
    
}

div.content{
    display: flex;
    flex-wrap: wrap;
}

div.content{
    font-size: 30px;
    color: rgb(255, 255, 255);
}

div.hometext1{
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 30%;
}

div.hometext2{
    font-size: 24px;
    margin-top: 200px;
    margin-bottom: 30px;
    margin-left: 35%;
}


div.hometext3{
    font-size: 24px;
    margin-top: 100px;
    margin-bottom: 150px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}



div.img{
    width: auto;
    margin-left: 25%;
    filter: blur(10px);
    transition: 0.5s;
}

div.img:hover{
    filter: blur(0px);
    transition: 0.5s;
}


div.img2{
    margin-left: 30%;
    margin-right: 30%;
}


div.img3{
    height: auto;

    position: sticky;
    left: 2px;
    bottom: 30px;
}

div.img4{
    height: auto;

    position: sticky;
    right: 2px;
    bottom: 30px;
}

div.img5{
    margin-left: 5%;
    margin-right: 5%;
}

div.width100{
    width: 100%;
}

div.width100{
    width: 100%;
}

div.width80{
    width: 80%;
}

div.width75{
    width: 75%;
}

div.width70{
    width: 70%;
}

div.width66{
    width: 66.666%;
}

div.width60{
    width: 60%;
}

div.width50{
    width: 50%;
}

div.width33{
    width: 33.333%;
}

div.width50{
    width: 50%;
}

div.width40{
    width: 40%;
}

div.width35{
    width: 35%;
}

div.width30{
    width: 30%;
}

div.width25{
    width: 25%;
}

div.width20{
    width: 20%;
}
